/* Variáveis para as cores */
:root {
    --grayishBlue: hsl(237, 18%, 59%);
    --softRed: hsl(345, 95%, 68%);
    --softViolet: #940592;
    --darkViolet: #6c0664;
    --softBlue: hsl(236, 21%, 26%);
    --darkBlue: hsl(235, 16%, 14%);
    --white: white;
    --black: hsl(0, 0%, 0%);
    --green: #3CB371;
    --red: #FF6347;
    --grey: #1d1d1d;
    --background: #465359;
    --cardBorderColor: var(--softViolet);
    --tagSuccessBackground: var(--green);
    --tagDangerBackground: var(--red);
    --scrollbarTrackBackground: #f1f1f1;
}

/* Estilos */
.background {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    position: absolute;
}

.container {
    max-width: none;
}

.py-4 {
    padding-top: 0rem!important;
    padding-bottom: 0rem!important;
}

.card {
    border-radius: 5px;
    box-shadow: 0px 20px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
    border-top: 5px solid var(--cardBorderColor);
}

.card-body-home {
    padding: 0rem !important;
}

.text-white {
    color: var(--white);
}

.img-logo {
    max-width: 25%;
}

.img-logo-interna {
    max-width: 35%;
}

.btn-principal {
    background-color: var(--softViolet);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-principal:hover {
    color: var(--white);
    background-color: var(--darkViolet);
}

.btn-link {
    color: var(--grey);
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.btn-link-2 {
    color: var(--grey);
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.btn-link:hover {
    color: var(--softViolet);
    text-decoration: underline;
}

.tag-success {
    background-color: var(--tagSuccessBackground);
    color: var(--white);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    height: 20px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
}

.tag-danger {
    background-color: var(--tagDangerBackground);
    color: var(--white);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    height: 20px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
}

/* Barra de rolagem */
::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: var(--scrollbarTrackBackground); /* Cor de fundo da faixa de rolagem */
}

::-webkit-scrollbar-thumb {
    background: var(--black); /* Cor do "polegar" (a parte que você arrasta) */
    border: 1px solid var(--white);
    border-radius: 10%;
}
